apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: dag-demo-template
spec:
  entrypoint: main
  templates:
    - name: main 
      dag:
        tasks:
          - name: guesser
            template: random
          - name: star
            template: starwars
          - name: echo-guesser
            template: echo
            arguments:
              parameters:
                - name: message
                  value: "{{tasks.guesser.outputs.result}}"
            dependencies: ["guesser", "star"]
    - name: echo
      inputs:
        parameters:
          - name: message
      container: 
        image: busybox
        command: ["echo"]
        args:
          - "{{ inputs.parameters.message }}"
    - name: random
      inputs:
        parameters:
          - name: goal
            value: 1
          - name: range
            value: 2
      script:
        image: python:alpine3.6
        source: |
          import os
          import sys
          import random

          x = int(os.environ["X"])
          n = int(os.environ["N"])

          random_value = random.randint(1, n)
          print(f"Generated random value: {random_value}")

          if random_value == x:
              print("Success: The random value equals X!")
              sys.exit(0)
          else:
              print("Failure: The random value does not equal X.")
              sys.exit(1)
        command: [python]
        env:
          - name: "X"
            value: "{{ inputs.parameters.goal }}"
          - name: "N"
            value: "{{ inputs.parameters.range }}"
    - name: starwars
      http:
        timeoutSeconds: 20
        url: "https://swapi.info/api/people"
        method: "GET"
        headers:
          - name: "Content-Type"
            value: "json"
        successCondition: "response.body contains \"name\""
