apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: refresh-github-token
  namespace: argo
spec:
  schedules:
    - "*/30 * * * *"
  concurrencyPolicy: "Replace"
  startingDeadlineSeconds: 60
  workflowSpec:
    serviceAccountName: vault-updater-sa
    entrypoint: main
    templates:
      - name: main
        steps:
          - - name: fetch-token
              template: refresh-token
              arguments:
                parameters:
                  - name: installation-id
                    value: "70166212"
          - - name: create-k8s-secret
              template: create-secret
              arguments:
                parameters:
                  - name: github-token
                    value: "{{ steps.fetch-token.outputs.parameters.github-token }}"

      - name: refresh-token
        inputs:
          parameters:
            - name: installation-id
        script:
          image: hashicorp/vault:1.19
          command: [sh]
          source: |
            set -e

            wget https://github.com/jqlang/jq/releases/download/jq-1.8.0/jq-linux-amd64
            mv jq-linux-amd64 /bin/jq 
            chmod +x /bin/jq

            export VAULT_ADDR=http://vault:8222
            TOKEN=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)

            LOGIN_RESPONSE=$(vault write -format=json auth/kubernetes/login role=github_token_refresher jwt="$TOKEN")
            VAULT_TOKEN=$(echo "$LOGIN_RESPONSE" | jq -r '.auth.client_token')
            export VAULT_TOKEN


            TOKEN_RESPONSE=$(vault write -format=json github/token installation_id="{{ inputs.parameters.installation-id }}")
            token=$(echo "$TOKEN_RESPONSE" | jq -r '.data.token')

            echo $token > /tmp/token
        outputs:
          parameters:
            - name: github-token
              valueFrom:
                path: /tmp/token

      - name: create-secret
        inputs:
          parameters:
            - name: github-token
        resource:
          action: apply
          manifest: |
            apiVersion: v1
            kind: Secret
            metadata:
              name: github-token
              namespace: argocd
            stringData:
              token: "{{ inputs.parameters.github-token }}"
