apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webapp
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
  sources:
    - repoURL: https://github.com/by-nelson/argo-ecosystem.git
      path: manifests/webapp-color
      targetRevision: HEAD
      kustomize:
        commonAnnotationsEnvsubst: true
        commonAnnotations:
          app-source: ${ARGOCD_APP_NAME}
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
