argocd-apps:
  applications:
    argocd:
      namespace: argocd
      project: default
      additionalAnnotations:
        argocd.argoproj.io/manifest-generate-paths: .
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      sources:
        - chart: argo 
          repoURL: registry-1.docker.io/nelsonalvarez
          targetRevision: 0.1.1
          helm:
            valueFiles:
            - $values/manifests/argocd/dev/values.yaml
        - repoURL: https://github.com/by-nelson/argo-ecosystem.git
          targetRevision: main
          path: manifests/argocd/dev
          ref: values
  applicationsets:
    apps:
      namespace: argocd
      project: default
      finalizers:
        - resources-finalizer.argocd.argoproj.io
      goTemplate: true
      generators:
        - git:
            repoURL: https://github.com/by-nelson/argo-ecosystem.git
            revision: main
            directories: 
            - path: manifests/apps/*
      template:
        metadata:
          name: "apps-{{.path.basename}}"
        spec:
          project: default
          sources:
            - repoURL: https://github.com/by-nelson/argo-ecosystem.git 
              targetRevision: main
              path: "{{.path.path}}"
          destination:
            server: "https://kubernetes.default.svc"
            namespace: "{{.path.basename}}"
          syncPolicy:
            automated:
              enabled: false
              prune: true
            syncOptions:
              - CreateNamespace=true
